    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/all.min.css">
    <link rel = "stylesheet" href =  "css/normalize.css">
    <link rel = "stylesheet" href = "css/main.css">
    <link rel = "stylesheet" href = "css/internal_header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel = "stylesheet">
    <title>Home</title>
</head>
<body>
    <div id = "overlay"></div>
    <%- include("internal_header.ejs", {showLink : false, showSearch : false})%>
    <div class = "main">
        <h3>Welcome to MyBlog...</h3>
        <div class = "butt">
            <button><a href = "./new-post">New</a></button>
            <button><a href = "./posts">View all posts</a></button>
        </div>
    </div>
    <div class = "footer">
        <h3>MyBlog</h3>
        <p>Copyright &copy; for 0xnaif</p>
    </div>
    <script src = "main.js"></script>
</body>
</html>