<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles/all.min.css">
    <link rel = "stylesheet" href =  "styles/normalize.css">
    <link rel = "stylesheet" href = "styles/new-post.css">
    <link rel = "stylesheet" href = "styles/internal_header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel = "stylesheet">
    <title>New Post</title>
</head>
<body>
    <div id = "overlay"></div>
    <%- include("internal_header.ejs", {showLink : true, showSearch : false})%>
    <div class = "main">
       <div class="post">
            <h3>New Post</h3>
            <form id = "new-post" action = "./new-post" method = "post">
                <div>
                    <label for = "title">Title</label>
                    <input type = "text" name = "title" id = "title">
                </div>
                <div>
                    <label for = "post">Post</label>
                    <!-- <i class="fa-solid fa-bold" onclick="document.execCommand('bold', false, null)"></i>
                    <button type = "button" onclick = "document.execCommand('bold', false, null)"></button> -->
                    <div id = "editorContainer">
                        <div id = "toolbar">
                            <div class = "text-format">
                                <i class="fa-solid fa-bold" onmousedown = "applyCommand('bold')"></i>
                                <i class="fa-solid fa-underline" onmousedown = "applyCommand('underline')"></i>
                                <i class="fa-solid fa-italic" onmousedown = "applyCommand('italic')"></i>
                            </div>
                            <div class = "font-size">
                                <select id = "fontSizeSelect">
                                    <option value = "12px">12 px</option>
                                    <option value = "14px" selected>14 px</option>
                                    <option value = "16px">16 px</option>
                                    <option value = "18px">18 px</option>
                                    <option value = "24px">24 px</option>
                                    <option value = "32px">32 px</option>
                                    <option value = "48px">48 px</option>
                                </select>
                            </div>
                            <div class="text-align">
                                <i class="fa-solid fa-align-left"></i>
                                <i class="fa-solid fa-align-center"></i>
                                <i class="fa-solid fa-align-right"></i>
                            </div>
                            <div class = "media">
                                <i class="fa-regular fa-image"></i>
                            </div>
                        </div>
                        <div id = "editor" contenteditable = "true"></div>
                    </div>
                </div>
                <div>
                    <input type = "submit" value = "Post" name = "post">
                    <button type = "submit" id = "backButton">Back</button>
                </div>
            </form>
       </div>
       <%- include("response.ejs") %>
    </div>
    <div class = "footer">
        <h3>MyBlog</h3>
        <p>Copyright &copy; for 0xnaif</p>
    </div>
    <script src = "./new-post.js"></script>
    <script>
        function applyCommand(command, event) {
            document.execCommand(command, false, null);
        }
    </script>
</body>
</html>