* {
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #F6F6F9;
}

li {
    list-style: none;
}

.main form .code {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}

.main form .code input {
    width: 40px;
    height: 40px;
}

.main form button {
    width: 100%;
    padding: 12px;
    background-color: #FFF;
    color: #FFC85E;
    border: 2px solid #FFC85E;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 auto 10px;
    transition: 0.3s;
}

.main form button:hover {
    opacity: 0.6;
}