* {
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #F6F6F9;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
}

.main {
    position: relative;
}

.main .post {
    width: 55%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .post h3 {
    color: #FFC85E;
    font-size: 30px;
    margin-bottom: 40px;
}

.main .post form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .post form > div {
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main .post form div:first-of-type {
    margin-bottom: 15px;
}

.main .post form #editorContainer {
    padding: 0;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 2px solid #D1D1D1;
    gap: 0;
}

.main .post form #toolbar {
    padding: 8px 0 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 26px;
    margin: 0 auto;
    width: 40%;
}

.main .post form #toolbar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 14px;
}

.main .post form #toolbar button {
    border: none;
    background-color: inherit;
    outline: none;
    padding: 0;
}

.main .post form #toolbar div > * {
    cursor: pointer;
}

.main .post form #toolbar #fontSizeSelect {
    min-height: 24px;
    font-size: 14px;
}

.main .post form #editor {
    margin: 0;
    padding: 10px;
    width: 100%;
    min-height: 250px;
    overflow: visible;
    background-color: #FFF;
    border-radius: 0 0 6px 6px;
    border-top: 0;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    border-top: 2px solid #D1D1D1;
}

.main .post form #editor img {
    max-width: 100%;
    display: block;
    margin: 10px 0;
}

.main .post form div input, .main .post form > div > button {
    border: none;
    border-radius: 6px;
    padding: 13px;
    border: 2px solid #D1D1D1;
    outline: none;
    font-size: 14px;
    font-weight: 300;
}

.main .post form div input:focus, .main .post form #editorContainer.focused {
    border-color: #FFA800;
}

.main .post form input[type = "submit"] {
    background-color: #FFC85E;
    color: #FFF;
    border: 2px solid #FFC85E;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400;
}

.main .post form > div > button {
    background-color: #FFF;
    color: #FFC85E;
    border: 2px solid #FFC85E;
    font-size: 18px;
    font-weight: 400;
}

.main .post form input[type = "submit"]:hover, .main .post form button[type = "submit"]:hover {
    opacity: 0.8;
}

.footer {
    width: 100%;
    background-color: #FFC85E;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
}

.footer h3 {
    color: #FFF;
    font-size: 24px;
    margin: 18px 20px 0;
    padding: 10px 10px 0;  
}

.footer p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 10px;
}