* {
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #F6F6F9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
}

.header .nav .search {
    padding: 10px;
    width: 160px;
    border: 2px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 9px;
    color: #FFF;
}

.header .nav .search input {
    width: 80%;
    margin: 0;
    border: none;
    outline: none;
    background-color: inherit;
    color: #FFF;
}

.header .nav .search input::placeholder {
    color: #FFF;
    opacity: 1;
}

.main {
    flex: 1;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main h3 {
    color: #FFC85E;
    font-size: 32px;
    margin-bottom: 20px;
}

.main h4 {
    font-size: 24px;
    margin-top: 80px;
}

.main .posts {
    width: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
}

.main #response {
    --beforeBackgroundColor: #63E6BE;
    position: absolute;
    right: -20%;
    top: -140%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main #response::before {
    content: "";
    position: absolute;
    height: 2.5px;
    width: 0%;
    top: 97%;
    left: 1.5%;
    background-color: var(--beforeBackgroundColor);
    animation-name: response;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes response {
    from {
        width: 0%;
    }

    to {
        width: 97%;
    }
}

.main #response i {
    font-size: 22px;
}

.main #response span {
    font-size: 14px;
    font-weight: 400;
}

.main #response #content {
    color: #63E6BE;
}

.main .posts .post {
    width: 100%;
    display: flex;
    padding: 12px 20px 12px 12px;
    border: 2px solid #FFA800;
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}

.main .posts .post:hover {
    transform: scale(1.009);
}

.main .posts .post .left {
    display: flex;
    flex-basis: 60%;
    gap: 30px;
    align-items: center;
}

.main .posts .post .left .id {
    padding: 18px 25px;
    background-color: #FFA800;
    color: #FFF;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .posts .left .id p {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.main .posts .left .info .title {
    margin: 0 0 10px;
    font-size: 18px;
}

.main .posts .left .info .date {
    margin: 0px 0px 0px 25px;
    font-size: 14px;
    color: #ABABAB;
}

.main .posts .post .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .posts .post .right i {
    font-size: 18px;
    position: relative;
}

.main .posts .post .right i:hover {
    color: #F00;
}

.main .posts .delete-confirm {
    position: absolute;
    background-color: #FFF;
    top: -90%;
    width: 303px;
    z-index: 4;
    padding: 30px 20px 20px;
    border-radius: 26px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.main .posts .delete-confirm .confrim-icon {
    background-color: #FFA800;
    padding: 15px;
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.main .posts .delete-confirm .confrim-icon i {
    color: #FFF;
    font-size: 26px;
    font-weight: 500;
}

.main .posts .delete-confirm > p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.main .posts .delete-confirm > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: inherit;
}

.main .posts .delete-confirm button {
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: 600;
}

.main .posts .delete-confirm button a {
    text-decoration: none;
    color: #FFF;
}

.main .posts .delete-confirm button:first-of-type {
    background-color: #FFC85E;
    color: #FFF
}

.main .posts .delete-confirm button:last-of-type {
    background-color: #FFF;
    color: #FFC85E;
    border: 1.6px solid #FFC85E;
}

.main .posts .delete-confirm button:hover {
    opacity: 0.8;
}

.main .posts .share {
    background-color: #FFF;
    display: none;
    flex-direction: column;
    border-radius: 24px;
    padding: 10px 20px;
    position: absolute;
    top: -92%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    z-index: 20;
}

.main .posts .share .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 25px;
}

.main .posts .share .head h4 {
    font-size: 20px;
    margin: 0;
}

.main .posts .share .head i:hover {
    color: #F00;
}

.main .posts .share .options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .posts .share .option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.main .posts .share .option .icon {
    display: flex;
    justify-content: center;
}

.main .posts .share .option a {
    font-size: 34px;
    margin-bottom: 5px;
}

.main .posts .share .option p {
    font-size: 12px;
    margin: 0 0 10px;
}

.footer {
    width: 100%;
    background-color: #FFC85E;
}

.footer h3 {
    color: #FFF;
    font-size: 24px;
    margin: 18px 20px 0;
    padding: 10px 10px 0;  
}

.footer p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 10px;
}